.bg-image {
  aspect-ratio: 16/9;
  display: block;
  width: 100vw;
}
.ball-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}
.logo-container {
  position: absolute;
  top: 7vw;
  left: 50%;
  transform: translateX(-50%);
}

.logo-image {
  width: 15vw;
  z-index: 99;
}
.label {
  font-family: "Avenir";
  color: white;
  margin-left: 5vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
  font-size: 1vw;
}
.input-container {
  border: 3px solid gold;
  position: absolute;
  top: 17vw;
  left: 27vw;
  width: 45vw;
  height: 18vw;
  padding-top: 4vw;
  padding-bottom: 6vw;
  outline: none;
  z-index: 100;
}

.input {
  width: 36vw;
  height: 3vw;
  border: none;
  margin-left: 5vw;
  margin-right: 4vw;
  margin-top: 1.2vw;
  font-size: 1.5vw;
  background-color: transparent;
  margin-bottom: 0.5vw;
}
.btn-submit {
  border: none;
  border-radius: 0.5vw;
  background-color: #dcb051;
  color: white;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  font-size: 1.5vw;
}

.btn {
  position: absolute;
  top: 25.39vw;
  left: 50%;
  transform: translateX(-50%);
}

.contact-email-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-div {
  width: 20vw;
}
.email-div {
  width: 20vw;
}
